* {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    background: white;
}

body {
    margin: 0;
    display: flex;
    background-color: #111;
    align-items: center;
    font-family: Helvetica Neue, sans-serif;
    color: #00caff;
    height: 100%;
    height: -moz-available;
    height: -webkit-fill-available;
    height: fill-available;
    overflow: hidden;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 1rem;
    height: -webkit-fill-available;
    letter-spacing: 0.2rem;
    font-weight: lighter;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
}

button {
    background: #111;
    border-radius: 0px;
    border: 1px solid #00caff;
    color: inherit;
    font-size: 1rem;
    font-weight: 100;
    margin: .25rem;
    outline: none;
    padding: 1rem;
    transition: background .2s;
    user-select: none;
    z-index: 1;
}
button.active {
    background: #00caff;
    color: #111;
}
button:active {
    outline: 2px solid #00caff;
}
button:focus {
    border: 1px solid #00caff;
}

@media (hover: hover) {
    main {
        height: 100vh;
        padding: 2rem;
    }
    button:hover {
        background: #00caff;
        color: #111;
    }
}

.panel {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

.unpress {
    position: absolute;
    height: 0; width: 0;
}

.press {
    position: absolute;
    height: 40px; width: 40px;
    border-radius: 5rem;
    background: radial-gradient(#00caff, #00baee, #000 75%);
    cursor: none;
    pointer-events: none;
}
